@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Code Error Page</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="error-page">

        @if (Model.Code == "500")
        {
            <h2 class="headline text-danger">@Model.Code</h2>
        }
        else
        {
            <h2 class="headline text-warning">@Model.Code</h2>
        }

        <div class="error-content">
            @if (Model.Code == "500")
            {
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! @Model.Title</h3>
            }
            else
            {
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! @Model.Title</h3>
            }

            @if (Model.Code == "801")
            {
                <p>
                    @Model.Message
                    you may change your password <a class="btn btn-primary" href="@HttpContextAccessor.HttpContext.Session.GetString("AppUrl")/ChangePassword">here</a> <br />
                    <form method="post" asp-page-handler="ReturnToLogin">
                        <button type="submit" class="btn btn-primary">Return to Login</button>
                    </form>
                </p>
            }
            else
            {
                <p>
                    @Model.Message
                    Meanwhile, you may <a href="@HttpContextAccessor.HttpContext.Session.GetString("AppUrl")/Home">return to our home page</a>
                    <form method="post" asp-page-handler="ReturnToLogin">
                        <button type="submit" class="btn btn-primary">Return to Login</button>
                    </form>
                </p>
            }

        </div>
    </div>
</section>
<script>
    document.getElementById('returnLoginBtn').addEventListener('click', function () {
        // Clear the session on the client-side if needed (if there are no server-side checks)
        window.location.href = redirectUrl;
    });
</script>